@import url('https://fonts.googleapis.com/css?family=Puritan:400,700');
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&subset=latin-ext');

$brand-font-family: 'Puritan', sans-serif;
$mistral-font-family: 'Arimo', sans-serif;
$hero-font-family: 'Abril Fatface', cursive;